.navbar {
  height: 100px;
  width: 100vw;
  background-color: var(--color-elements);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  font-size: 18px;
  font-weight: 600;
}

.logo {
  color: var(--color-text);
}
.mode {
  color: var(--color-text);
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 120px;
  font-weight: 300;
}

.button {
  color: var(--color-text);
}
